@import '../../../../variables.scss';

.tweet {
  padding: 16px;
  border-bottom: 1px solid $border-color;
  .header {
    margin-bottom: 4px;
    .time {
      color: #76838F;
      font-size: 14px;
    }

    span {
      color: #76838F;
      font-size: 16px;
  
      &:first-of-type {
        font-weight: bold;
        margin-right: 8px;
        color: white;
      }
    }
  
  
  }
  
  p {
    color: white;
    font-size: 16px;
  }

  .like-area {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    
    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

  }
}

